<style>
    .post1 {
        background-image: url(img/scan_t_web.png);
    }

    .post2 {
        background-image: url(img/upgrade.png);
    }

    .post3 {
        background-image: url(img/Calsma_Yuzeyi_1.png);
    }
</style>

<header class="masthead" id="home">
    <div class="">
        <div class="masthead-subheading" style="color: rebeccapurple">Welcome To B'Box Studio!</div>
        <div class="masthead-heading text-uppercase" style="color: rebeccapurple">It's Nice To Meet You</div>
        
        <!-- <marquee behavior=alternate>

            <img style="padding: 0; margin-top: 0;" src="assets/img/lastone-removebg-preview.png">

            </marquee> -->
    </div>
</header>

<!--ekleme-->

<div class="conatiner">
    <div class="wrap">

        <div class="box one post1">
            <div class="date">
            </div>
            <h1>
                <a style="color: transparent" href="https://play.google.com/store/apps/details?id=com.BBoxStudio.ScanIt&gl=TR">
                    <img src="~/img/goplay.png" class="btn btn-dark btn-social mx-2" />
                </a>
                    <a style="color: transparent" href="https://apps.apple.com/tr/app/scan-it-cashier-run/id1632404045?l=tr&platform=iphone">
                        <img src="~/img/astore.png" class="btn btn-dark btn-social mx-2"/>
                    </a>
            </h1>
            <div class="poster p1">
                <h4>1</h4>
            </div>
        </div>

        <div class="box two post2">
            <div class="date">
            </div>
            <h1>
                <a style="color: transparent" href="https://play.google.com/store/apps/details?id=com.BBOXStudio.UpgradeShop&gl=TR">
                    <img src="~/img/goplay.png" class="btn btn-dark btn-social mx-2"  />
                </a>
                <a style="color: transparent" href="https://apps.apple.com/tr/app/upgrade-shop/id1633392776?l=tr">
                    <img src="~/img/astore.png" class="btn btn-dark btn-social mx-2" />
                </a>
            </h1>
            <div class="poster p2">
                <h4>2</h4>
            </div>
        </div>

        <div class="box three post3">
            <div class="date">
            </div>
            <h1>
                <a style="color: transparent" href="https://play.google.com/store/apps/dev?id=7165595220132850650&gl=TR">
                    <img src="~/img/goplay.png" class="btn btn-dark btn-social mx-2" />
                </a>
                <a style="color: transparent" href="https://apps.apple.com/tr/developer/berkcan-unlu/id1622206660?l=tr">
                    <img src="~/img/astore.png" class="btn btn-dark btn-social mx-2" />
                </a>
            </h1>
            <div class="poster p3">
                <h4>3</h4>
            </div>
        </div>
    </div>
</div>

<section class="page-section" id="about" style="background-image: none; background-color: white;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">We are just making games.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022-2023</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Our start with fast and decisive steps in the game industry continues to grow day by day!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2021</h4>
                        <h4 class="subheading">A Company is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We targeted the game industry in this journey that we started with big investments and big dreams!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design3.png" alt="..." />
                    <h4>Berkcan Ünlü</h4>
                    <p class="text-muted">Co-Founder</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design2.png" alt="..." />
                    <h4>Barış Sezer</h4>
                    <p class="text-muted">Co-Founder</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design4.png" alt="..." />
                    <h4>Öznur Kandakoğlu</h4>
                    <p class="text-muted">Game Developer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design1.png" alt="..." />
                    <h4>Bilge Tuna Gündoğan Uzun</h4>
                    <p class="text-muted">Game Developer</p>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>