<!-- Team-->
<section class="page-section bg-light backimg" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design3.png" alt="..." />
                    <h4>Berkcan Ünlü</h4>
                    <p class="text-muted">Co-Founder</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design2.png" alt="..." />
                    <h4>Barış Sezer</h4>
                    <p class="text-muted">Co-Founder</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design4.png" alt="..." />
                    <h4>Öznur Kandakoğlu</h4>
                    <p class="text-muted">Game Developer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/design1.png" alt="..." />
                    <h4>Bilge Tuna Gündoğan Uzun</h4>
                    <p class="text-muted">Game Developer</p>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</section>
